<section>

<h2>Title: <%= @job.title %></h2>
<%= link_to "Edit", edit_company_job_path(@job.company, @job) %>

<br>

<div>
  <h4>Description: <%= @job.description %></h4>
  <h4>Level of Interest: <%= @job.level_of_interest %></h4>
  <h4>City: <%= @job.city %></h4>
  <h4>Category: <%= @job.category.title %></h4>
  <h4>Company: <%= link_to @job.company.name, company_path(@job.company) %></h4>
</div>
<%= link_to "Delete", company_job_path(@job.company, @job), method: "delete" %>


<h3>Comments: </h3>

<% @comments.reverse.each do |comment| %>
  <%= comment.subject %><br>
  Created At: <%= comment.created_at %><br>
<% end %>

<%= form_for [@job, @comment] do |f| %>
  <%= f.label :subject %>
  <%= f.text_field :subject %>

  <%= f.submit %>
<% end %>
</section>
